[Unit]
Description=Dopigo Celery Worker Automation
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dopigo
ExecStart=/usr/bin/app.py

[Install]
WantedBy=multi-user.target
