[Unit]
Description=Dopigo Celery Worker Automation
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dopigo
Environment="DJANGO_SETTINGS_MODULE=dopigo.settings.local"
WorkingDirectory=/home/dopigo/dopigo/dopigo
ExecStart=/usr/bin/app.py

[Install]
WantedBy=multi-user.target
