[Unit]
Description=Dopigo Celery Worker Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dopigo
ExecStart=/usr/bin/sudo /usr/bin/celery_worker_monitor.py

[Install]
WantedBy=multi-user.target