[Unit]
Description=Dopigo Celery Worker Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=-/etc/conf.d/dopigo
Type=simple
Restart=always
RestartSec=240
User=root
ExecStart=/opt/CeleryWorkerMonitor/celery_worker_monitor_venv/bin/python3.6 /usr/bin/celery_worker_monitor.py

[Install]
WantedBy=multi-user.target
